@model IEnumerable<AirBookingESW17.Models.Aviao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvCapacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvPartilhado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvSerie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvCapacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvPartilhado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvSerie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
